<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">

  <!-- Breadcrumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['']">首頁</a>
    </li>
    <li class="breadcrumb-item active">學童管理</li>
  </ol>

  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-users"></i> 學童列表
      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modelAddChild">新增</button>
    </div>

    <div class="card-body">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>帳號</th>
            <th>姓名</th>
            <th>學號</th>
            <th>點數</th>
            <th>代號</th>
            <th>就讀學校</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="isLoading" class="text-center">
            <td colspan="6">
              <i class="fa fa-spinner fa-3x fa-spin"></i>
            </td>
          </tr>
          <tr *ngFor="let data of datas | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{data.childusername}}</td>
            <td>{{data.childname}}</td>
            <td>{{data.childstudentid}}</td>
            <td>{{data.childpoint}}</td>
            <td>{{data.childcode}}</td>
            <td>{{data.childschool}}</td>
          </tr>
        </tbody>
      </table>
      <div class="has-text-centered text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
    <div class="card-footer small text-muted">
      最後更新 早上 08:30
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" #modelAddChild id="modelAddChild" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">新增學童</h4>
          <button #modelClose type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="control-label">帳號:</label>
              <input type="text" class="form-control" name="childusername" [(ngModel)]="childusername" required>
            </div>
            <div class="form-group">
              <label class="control-label">密碼:</label>
              <input type="password" class="form-control" name="childpassword" [(ngModel)]="childpassword" required>
            </div>
            <div class="form-group">
              <label class="control-label">確認密碼:</label>
              <input type="password" class="form-control" name="childpasswordRe" [(ngModel)]="childpasswordRe" required>
            </div>
            <div class="form-group">
              <label class="control-label">兌換代碼:</label>
              <input type="text" class="form-control" name="childcode" [(ngModel)]="childcode" required>
            </div>
            <div class="form-group">
              <label class="control-label">姓名:</label>
              <input type="text" class="form-control" name="childname" [(ngModel)]="childname" required>
            </div>
            <div class="form-group">
              <label class="control-label">性別（暫不填）:</label>
              <div class="form-check">
                <label class="custom-control custom-radio">
                  <input name="childgender" type="radio" value="男生" class="custom-control-input" [ngModel]="childgender">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">男生</span>
                </label>
                <label class="custom-control custom-radio">
                  <input name="childgender" type="radio" value="女生" class="custom-control-input" [ngModel]="childgender">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">女生</span>
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">學號:</label>
              <input type="text" class="form-control" name="childstudentid" [(ngModel)]="childstudentid" required>
            </div>
            <div class="form-group">
              <label class="control-label">點數:</label>
              <input type="number" class="form-control" name="childpoint" min="0" max="1000" [(ngModel)]="childpoint" required>
            </div>
            <div class="form-group">
              <label class="control-label">就讀學校:</label>
              <input type="text" class="form-control" name="childschool" [(ngModel)]="childschool" required>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <swal #dialogSuccess title="新增成功" type="success"></swal>
          <swal #dialogError title="資料錯誤，請重新確認" type="error"></swal>
          <button type="button" class="btn btn-primary" (click)="userAddChild(modelAddChild);">儲存</button>
        </div>
      </div>
    </div>
  </div>

</main>
