<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-dark sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <i class="fa fa-fw fa-home"></i>首頁
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-users"></i>學童管理
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-university"></i>店家管理
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-credit-card"></i>點數管理
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSystem" aria-expanded="false">
        <i class="fa fa-fw fa-cog"></i> 系統參數</a>
      <ul class="sidebar-sub collapse" id="collapseSystem" aria-expanded="false">
        <li>
          <a href="/account">系統帳號管理</a>
        </li>
        <li>
          <a href="/timer">時段管理</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-fw fa-calendar"></i>系統日誌
      </a>
    </li>
  </ul>
</nav>
